quarkus:
  datasource:
    db-kind: postgresql
    username: user
    password: password
    reactive:
      url: postgresql://localhost:5432/nexusflow
  hibernate-orm:
    database:
      generation: update
    log:
      sql: true

  redis:
    hosts: redis://localhost:6379
    client-type: standalone

  oidc:
    auth-server-url: http://localhost:8080/realms/NexusFlow
    client-id: ingestion-api
    credentials:
      secret: nexus-flow-very-secret-key-123
    roles:
      role-claim-path: realm_access/roles

  vertx:
    use-virtual-threads: true
  micrometer:
    enabled: true
    export:
      prometheus:
        path: /metrics
  http:
    port: 8081

kafka:
  bootstrap:
    servers: localhost:9092

mp:
  messaging:
    outgoing:
      telemetry-out:
        connector: smallrye-kafka
        topic: raw-telemetry
        value:
          serializer: io.vertx.kafka.client.serialization.JsonObjectSerializer
        retry-interval: 2